@media screen and (max-width:768px) {
  /*
   *
   * Main Style
   *
   */
  .top-header {
    height: 30vw;
  }
  .container h2.top-post-title {
    font-size: 1.2rem;
    top: 32%;
  }
  #wrapper {
    border-top: solid 2px #454545;
  }
  #profile {
    margin-bottom: 1rem;
  }


  /*
   *
   * PreviousPostLink
   * NextPostLink
   * CSS
   *
   */
   section#nearPost {
     display: table;
     table-layout: fixed;
     border-collapse: separate;
     border-spacing: 0rem;
   }
   #nearPost div {
    line-height: 0.8rem;
    display: table-cell;
   }
   #nearPost div::first-line {
    font-size: 0.6rem;
    line-height: 2rem;
    text-decoration: underline;
   }
   #nearPost div a {
    font-size: 0.7rem;
    font-weight: bold;
   }
   #nearPost .prev {
    text-align: left;
    border-right: none;
    padding: 0 0.5rem 0.5rem 0;
    margin-bottom: 0.5rem;
    border-right: solid 1px #292c31;
   }
   #nearPost .next {
    text-align: right;
    border-left: none;
    padding: 0.5rem 0 0 0.5rem;
   }
}
